<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" />
    </startup>
  
  <connectionStrings>
    <add name="ProcurementEntities" connectionString="metadata=res://*/DAL.ProcurementModel.csdl|res://*/DAL.ProcurementModel.ssdl|res://*/DAL.ProcurementModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.;initial catalog=Procurement;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  
</configuration>